<app-content>
  <div class="box-status blinking"></div>
  <div class="col-12 bts">
    <div  >
      <app-logo></app-logo>
    </div>
    <div class="mt-5"
      style="
        padding: 10px;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 10px;
        background-color: rgb(17, 17, 17);
        padding-bottom: 30px;
      "
    >
      <button class="item" (click)="onClickOpenGame()">
        <img src="assets/game.png" width="40" alt="" srcset="" />
        Jogo da Sorte
      </button>
      <button routerLink="menu">
        <img src="assets/menu-icon.png" width="40" alt="" srcset="" />
        Cardápio
      </button>
      <button (click)="onClickOpenLocation()">
        <img src="assets/loc.png" width="35" alt="" srcset="" />
        Localização
      </button>
      <button (click)="openWhatsapp()">
        <img src="assets/wp.png" width="35" alt="" srcset="" />
        Whatsapp
      </button>
    </div>
  </div>
</app-content>
